<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>XenFM | The 24hr Radio Bot</title>
    <link rel="stylesheet" href="/public/css/landing.css" />
    <link rel="stylesheet" href="/public/css/scroll.css">
    <link rel="shortcut icon" href="/public/public/img/pfp.png" />
    <link rel = "icon" href =  
"/public/img/pfp.png" 
        type = "image/x-icon"> 
    <meta property="og:title" content="XenFM - The 24/7 Radio bot" />
    <meta
      property="og:description"
      content="Features 24/7 Music, 4 languages [ English, Hindi, Korean, Japanese ], 9 Stations [ English Lofi, Hindi Lofi, English Normal, Hindi Normal, English Electro, Hindi Classics Korean, Japanese, Study ], Bot can be assigned to a channel so whenever the bot restarts/recover from outage the bot will automatically connect to that specific channel. Also features Lyrics command, powered by 'Ksoft Lyrics' 
      (Largest Database of lyrics, also used by groovy)"/>
    <meta property="og:image" content="/public/img/pfp.png" />
    <meta property="og:url" content="https://xenfm.ga/" />
    <script async src="https://arc.io/widget.min.js#emhnn7qg"></script>
  </head>
  <body class="has-animations">
    <div class="body-wrap">
      <header class="site-header reveal-from-top">
        <div class="container">
          <div class="site-header-inner">
            <div class="brand" style="margin-top: 50%; margin-left: 35%; margin-right: 35%">
              <h1>
                404: Not Found
              </h1>
            </div>
          </div>
        </div>
      </header>
      
      <footer class="site-footer center-content-mobile" style="margin-top: 32%">
        <div class="container">
          <div class="site-footer-inner">
            <div class="footer-top space-between text-xxs">
              <div class="brand">
                <a href="/"
                  ><img src="/public/img/pfp.png" alt="Neon" width="32" height="32"
                /></a>
              </div>
              <div class="footer-social">
                <div>
                 

                </div>
              </div>
            </div>
            <div
              class="footer-bottom space-between text-xxs invert-order-desktop"
            >
              <nav class="footer-nav">
                <ul class="list-reset">
                  <li>
                    <a target="_blank" href="https://manavgarg.tk"
                      >Made with ❤️ by [ Manav ]</a
                    >
                  </li>
                </ul>
              </nav>
              <div class="footer-copyright">
                &copy; 2021 XenFM, All Rights Reserved
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/public/js/landing.js"></script>
  </body>
</html>
