<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>XenFM | The 24hr Radio</title>
    <link rel="stylesheet" href="/public/css/landing.css" />
    <link rel="stylesheet" href="/public/css/scroll.css">
    <link rel="shortcut icon" href="/public/public/img/pfp.png" />
    <link rel = "icon" href =  
"/public/img/pfp.png" 
        type = "image/x-icon"> 
    <meta property="og:title" content="XenFM - The 24/7 Radio bot" />
    <meta
      property="og:description"
      content="Features 24/7 Music, 4 languages [ English, Hindi, Korean, Japanese ], 9 Stations [ English Lofi, Hindi Lofi, English Normal, Hindi Normal, English Electro, Hindi Classics Korean, Japanese, Study ], Bot can be assigned to a channel so whenever the bot restarts/recover from outage the bot will automatically connect to that specific channel. Also features Lyrics command, powered by 'Ksoft Lyrics' 
      (Largest Database of lyrics, also used by groovy)"/>
    <meta property="og:image" content="/public/img/pfp.png" />
    <meta property="og:url" content="https://xenfm.ga/" />
    <script async src="https://arc.io/widget.min.js#emhnn7qg"></script>
  </head>
  <body class="has-animations">
    <div class="body-wrap">
      <header class="site-header reveal-from-top">
        <div class="container">
          <div class="site-header-inner">
            <div class="brand">
              <h1 class="m-4">
              </h1>
            </div>
          </div>
        </div>
      </header>
      <main class="site-content">
        <section class="hero section illustration-section-01">
          <div class="container">
            <div class="hero-inner section-inner">
              <div class="split-wrap invert-mobile">
                <div class="split-item">
                  <div
                    class="hero-content split-item-content center-content-mobile"
                  >
                    <h1
                      class="mt-0 mb-16 reveal-from-bottom"
                      data-reveal-delay="150"
                    >
                      XenFM
                    </h1>
                    <p
                      class="mt-0 mb-32 reveal-from-bottom"
                      data-reveal-delay="300"
                    >
                      Best, High Quality, 24/7 Radio<br>
                    </p>

                    <div class="reveal-from-bottom" data-reveal-delay="450">
                      <a
                        class="button button-primary button-wide-mobile pulse"
                        style="
                          border: 0;
                          border-radius: 5px;
                          
background-color: white;

                          color: black;

                         ;
                        "
                        href="https://discord.com/api/oauth2/authorize?client_id=782209570285813761&permissions=305515840&scope=bot" target="_blank"
                        >Invite</a
                      >

                      <a
                        class="button button-primary button-wide-mobile pulse"
                        style="
                          border: 0;
                          border-radius: 5px;
                          
background-color: white;

                          color: black;

                         ;
                        "
                        href="https://discord.io/xenbot" target="_blank"
                        >Support</a
                      >

                      <a
                        class="button button-primary button-wide-mobile pulse"
                        style="
                          border: 0;
                          border-radius: 5px;
                          
background-color: white;

                          color: black;

                         ;
                        "
                        href="/views/player/radio" target="_blank"
                        >Web Player</a
                      >
                    </div>
                  </div>
                  <div class="hero-content split-item-content center-content-mobile">
                    <img src="/public/img/pfp.png" height="300px" width="300px" style="margin-left: 59%; float: left;">
                  </div>
                  <style>
                    @media (min-width: 641px) {
                      .hero .split-wrap .split-item {
                        min-height: 492px;
                      }
                    }
                  </style>
                    <div class="scroll-down">
                      <a href="#2lol">
                      <span></span>
                      <span></span>
                      <span></span>
                    </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br><br><br><br>
        <section class="features-tiles section center-content" id="2lol">
          <div class="container">
            <div class="features-tiles-inner section-inner has-top-divider">
              <div class="section-header">
                <div
                  class="container-xs reveal-from-bottom"
                  data-reveal-delay="650"
                >
                  <h2 class="mt-0 mb-16">See the whole picture</h2>
                  <p class="m-0">
                   XenFM is built radically different. It is based on the idea of introducing different genre of music to everyone, to let people discover great songs by many different known/unknown artists. <br>It randomly plays songs based on which station you choose.<br>Just use the play command and dive into the pool of unbelievably good music!
                  </p>
                </div>
              </div>
              <img src="/public/img/Untitled.png" class="container-s reveal-from-bottom"> <br><br>
              <div class="tiles-wrap">
                <div class="tiles-item reveal-from-right">
                  <div class="tiles-item-inner">
                    <div class="features-tiles-item-header">
                      <div class="features-tiles-item-image mb-16">
                        <img
                          src="/public/img/settings.png"
                          alt="Feature tile icon 02"
                          width="72"
                          height="72"
                        />
                      </div>
                    </div>
                    <div class="features-tiles-item-content">
                      <h4 class="mt-0 mb-8">Configurable</h4>
                      <p class="m-0 text-sm">
                        Bot can be assigned to one channel so whenever the bot restarts/recover from outage the bot will automatically connect to that specific channel.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="tiles-item reveal-from-left">
                  <div class="tiles-item-inner">
                    <div class="features-tiles-item-header">
                      <div class="features-tiles-item-image mb-16">
                        <img
                          src="/public/img/247.png"
                          alt="Feature tile icon 04"
                          width="74"
                          height="74"
                        />
                      </div>
                    </div>
                    <div class="features-tiles-item-content">
                      <h4 class="mt-0 mb-8">24/7</h4>
                      <p class="m-0 text-sm">
                        No downtime. No nonsense. Have fun talking to your friends, spend
                        time enjoying your discord server while XenFM plays songs 24/7.
                      </p>
                    </div>
                  </div>
                </div>

          

                <div class="tiles-item reveal-from-right">
                  <div class="tiles-item-inner">
                    <div class="features-tiles-item-header">
                      <div class="features-tiles-item-image mb-16">
                        <img
                          src="/public/img/lang.png"
                          alt="Feature tile icon 05"
                          width="68"
                          height="68"
                        />
                      </div>
                    </div>
                    <div class="features-tiles-item-content">
                      <h4 class="mt-0 mb-8">Multi-Lingual Radio</h4>
                      <p class="m-0 text-sm">
                        4 languages: English, Hindi, Korean, Japanese. More coming soon!
                      </p>
                    </div>
                  </div>
                </div>

                <div class="tiles-item reveal-from-left">
                  <div class="tiles-item-inner">
                    <div class="features-tiles-item-header">
                      <div class="features-tiles-item-image mb-16">
                        <img
                          src="/public/img/radio.png"
                          alt="Feature tile icon 06"
                          width="72"
                          height="72"
                        />
                      </div>
                    </div>
                    <div class="features-tiles-item-content">
                      <h4 class="mt-0 mb-8">Multiple Stations</h4>
                      <p class="m-0 text-sm">
                        9 High Quality Radio Stations <br>English Lofi, Hindi Lofi, English Normal, Hindi Normal, English Electro, Hindi Classics, Korean, Japanese. <br>More coming soon!
                      </p>
                    </div>
                  </div>
                </div>

                <div class="tiles-item reveal-from-left">
                  <div class="tiles-item-inner">
                    <div class="features-tiles-item-header">
                      <div class="features-tiles-item-image mb-15">
                        <img
                          src="/public/img/ly.png"
                          alt="Feature tile icon 06"
                          width="72"
                          height="72"
                        />
                      </div>
                    </div>
                    <div class="features-tiles-item-content">
                      <h4 class="mt-0 mb-8">Lyrics</h4>
                      <p class="m-0 text-sm">
                        Lyrics command, powered by Ksoft Lyrics Inc. (Largest Database of lyrics, also used by groovy), will help you get by when you forget lyrics of your favourite song.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="tiles-item reveal-from-right">
                    <div class="tiles-item-inner">
                      <div class="features-tiles-item-header">
                        <div class="features-tiles-item-image mb-15">
                          <img
                            src="/public/img/misc.png"
                            alt="Feature tile icon 06"
                            width="72"
                            height="72"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="mt-0 mb-8">Misc Commands</h4>
                        <p class="m-0 text-sm">
                          Misc Commands such as spotify status, avatar, cat images, dog images etc available that are quite amusing!
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>

        <section class="features-tiles section center-content" id="2lol">
          <div class="container">
            <div class="features-tiles-inner section-inner has-top-divider">
              <div class="section-header">
                <div
                  class="container-xs reveal-from-bottom"
                  data-reveal-delay="650"
                >
                  <h2 class="mt-0 mb-16">XenFM Premium</h2>
                  <p class="m-0">
                   XenFM Premium features all of the above as well as the all new music module which lets you tune in some of your fav songs and apply filters to them!
                  </p>
                </div>
              </div>
               <div class="tiles-wrap">
                  <div class="tiles-item reveal-from-left">
                      <div class="tiles-item-inner">
                        <div class="features-tiles-item-header">
                          <div class="features-tiles-item-image mb-15">
                            <img
                              src="/public/img/music.png"
                              alt="Feature tile icon 06"
                              width="72"
                              height="72"
                            />
                          </div>
                        </div>
                        <div class="features-tiles-item-content">
                          <h4 class="mt-0 mb-8">Personalized Music!</h4>
                          <p class="m-0 text-sm">
                            Apart from the 24/7 radio, you can tune in some of your fav songs and groove! with the help of music module!
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="tiles-item reveal-from-right">
                        <div class="tiles-item-inner">
                          <div class="features-tiles-item-header">
                            <div class="features-tiles-item-image mb-15">
                              <img
                                src="/public/img/filter.png"
                                alt="Feature tile icon 06"
                                width="72"
                                height="72"
                              />
                            </div>
                          </div>
                          <div class="features-tiles-item-content">
                            <h4 class="mt-0 mb-8">Filters!</h4>
                            <p class="m-0 text-sm">
                              Like to hear your fav songs in an awesome effect? Filters are now available to boost up your music experience!
                            </p>
                          </div>
                        </div>
                      </div>
                      
                  <div class="tiles-item reveal-from-left">
                    <div class="tiles-item-inner">
                      <div class="features-tiles-item-header">
                        <div class="features-tiles-item-image mb-15">
                          <img
                            src="/public/img/mic.png"
                            alt="Feature tile icon 06"
                            width="72"
                            height="72"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="mt-0 mb-8">Record your voice!</h4>
                        <p class="m-0 text-sm">
                          Apart from the 24/7 radio, music, filters, Now you can record your voice or your friends, with the help of Record module!
                        </p>
                      </div>
                    </div>
                  </div>
                      
                  <div class="tiles-item reveal-from-right">
                    <div class="tiles-item-inner">
                      <div class="features-tiles-item-header">
                        <div class="features-tiles-item-image mb-15">
                          <img
                            src="/public/img/emoji.png"
                            alt="Feature tile icon 06"
                            width="72"
                            height="72"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="mt-0 mb-8">Emoji Management!</h4>
                        <p class="m-0 text-sm">
                          Apart from the 24/7 radio, music, filters, Recording, Now you can Manage your server emojis too!
                        </p>
                      </div>
                    </div>
                  </div>
                  <br><br><br><br><br><br><br><br><br><h1 style="
                  border: 0;
                  font-size: 22px;
                  margin-left: 5%;
                  margin-right: 5%;
                  color: white;
                ">NOTE: The filters are applied only when you use the music module.</h1>
              </div>
              <br><br>
              <a
              class="button button-primary button-wide-mobile pulse"
              style="
                border: 0;
                margin-left: 5%;
                margin-right: 5%;
                background-color: white;
                color: black;
              "
              href="https://discord.io/xenbot"
              >Buy Premium</a
            >
            </div>
          </div>
        </section>

        <section class="section" id = "stats">
            <div class="container">
              <div class="section-inner has-top-divider">
                <div class="container-xs">
                  <div class="section-header center-content">
                    <h2 class="m-0">
                      XenFM Realtime Stats
                    </h2>
                  </div>
                  <div class="center-content">
                    <a
                      class="button button-primary button-wide-mobile pulse"
                      style="
                        border: 0;
                        margin-left: 2%;
                        margin-right: 2%;
                        cursor: default;
                        background-color: white;
                        color: black;
                      "
                      href="javascript:void(0)"
                      >Servers: <%= serverCount %></a>
                      
                      <a
                      class="button button-primary button-wide-mobile pulse"
                      style="
                        border: 0;
                        margin-left: 2%;
                        margin-right: 2%;
                        cursor: default;
                        background-color: white;
                        color: black;
                      "
                      href="javascript:void(0)"
                      >Channels: 89,875</a>
                      
                      <a
                      class="button button-primary button-wide-mobile pulse"
                      style="
                        border: 0;
                        margin-left: 2%;
                        margin-right: 2%;
                        cursor: default;
                        background-color: white;
                        color: black;
                      "
                      href="javascript:void(0)"
                      >Users: <%= userCount %></a><br><br>
                      <center>Stats are updated every minute to avoid api bans</center>
                  </div>
                </div>
              </div>
            </div>
          </section>

        <section class="section">
          <div class="container">
            <div class="section-inner has-top-divider">
              <div class="container-xs">
                <div class="section-header center-content">
                  <h2 class="m-0">
                    Miscellaneous Links
                  </h2>
                </div>
                <div class="center-content">
                  <a
                    class="button button-primary button-wide-mobile pulse"
                    style="
                      border: 0;
                      margin-left: 5%;
                      margin-right: 5%;
                      background-color: white;
                      color: black;
                    "
                    href="https://discord.io/xenbot"
                    >Support</a
                  >

<br><br><br>

                  <a href="https://top.gg/bot/782209570285813761" target= "_blank">
    <img src="https://top.gg/api/widget/782209570285813761.svg" alt="XenFM" />
</a>
<br><br>
                  <script src="https://discordbotlist.com/widget/index.js" async></script>
                  <div style="
                      border: 0;
                      margin-left: 5%;
                      margin-right: 5%;
                      background-color: transparent;
                      color: black;
                      padding-left: 25%
                    ">
<dbl-widget bot-id="bot-xenfm" centered></dbl-widget>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="site-footer center-content-mobile">
        <div class="container">
          <div class="site-footer-inner">
            <div class="footer-top space-between text-xxs">
              <div class="brand">
                <a href="/"
                  ><img src="/public/img/pfp.png" alt="Neon" width="32" height="32"
                /></a>
              </div>
              <div class="footer-social">
                <div>
                 

                </div>
              </div>
            </div>
            <div
              class="footer-bottom space-between text-xxs invert-order-desktop"
            >
              <nav class="footer-nav">
                <ul class="list-reset">
                  <li>
                    <a target="_blank" href="https://manavgarg.tk"
                      >Made with ❤️ by [ Manav ]</a
                    >
                  </li>
                </ul>
              </nav>
              <div class="footer-copyright">
                &copy; 2021 XenFM, All Rights Reserved
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/public/js/landing.js"></script>
  </body>
</html>
