<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>XenFM | The 24hr Radio</title>
    <link rel="stylesheet" href="/public/css/landing.css" />
    <link rel="stylesheet" href="/public/css/scroll.css">
    <link rel="shortcut icon" href="/public/public/img/pfp.png" />
    <link rel = "icon" href =  
"/public/img/pfp.png" 
        type = "image/x-icon"> 
    <meta property="og:title" content="XenFM - The 24/7 Radio" />
    <meta
      property="og:description"
      content="24-7 Quality rich music station"/>
    <meta property="og:image" content="/public/img/pfp.png" />
    <meta property="og:url" content="https://play.xenfm.ga/" />
    <script async src="https://arc.io/widget.min.js#emhnn7qg"></script>
  </head>
  <body class="has-animations">
    <div class="body-wrap">
      <center>
      <header class="site-header reveal-from-top">
        <div class="container">
          <div class="site-header-inner">
            <div class="brand" style="margin-top: 50%; margin-left: 20%;">
              <h1 style="margin-left: 1%;">XenFM<br><br>
                Best High Quality Radio, <br>For Everyone
              </h1>
              <h5>
               (Scroll Down Below to look for the station you would like to listen to!)
              </h5>
            </div>
          </div>
        </div>
      </header>
    </center>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <section class="section" id = "stats" style="margin-bottom: -25%; margin-left: -2%;">
      <div class="container">
        <div class="section-inner has-top-divider">
          <div class="container-xs">
            <div class="section-header center-content">
              <h2 class="m-0" style="margin-left: 1%;">
                Available Stations
              </h2>
              <center>(Click on any of the tabs to tune in!)</center>
            </div>
            <div class="center-content" style="margin-left: -6%;">
              <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="english"
                >English</a>
                
                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="english-lofi"
                >English LoFi</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="english-rap"
                >English Rap</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="english-electro"
                >English Electro</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="hindi"
                >Hindi</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="hindi-lofi"
                >Hindi LoFi</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="hindi-classics"
                >Hindi Classics</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="punjabi"
                >Punjabi</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="study"
                >Study LoFi</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="japanese"
                >Japanese</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="korean"
                >Korean</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="gaming"
                >Gaming</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="Anime"
                >Anime</a>

                <a
                class="button button-primary button-wide-mobile pulse"
                style="
                  border: 0;
                  width: 40%;
                  cursor: pointer;
                  margin: 5% 0 0 5%;
                  background-color: white;
                  color: black;
                "
                href="copyright-free"
                >DMCA/Copyright Free</a>
            </div>
          </div>
        </div>
      </div>
    </section>

      <footer class="site-footer center-content-mobile" style="margin-top: 32%">
        <div class="container">
          <div class="site-footer-inner">
            <div class="footer-top space-between text-xxs">
              <div class="brand">
                <a href="/"
                  ><img src="/public/img/pfp.png" alt="Neon" width="32" height="32"
                /></a>
              </div>
              <div class="footer-social">
                <div>
                 

                </div>
              </div>
            </div>
            <div
              class="footer-bottom space-between text-xxs invert-order-desktop"
            >
              <nav class="footer-nav">
                <ul class="list-reset">
                  <li>
                    <a target="_blank" href="https://manavgarg.tk"
                      >Made with ❤️ by [ Manav ]</a
                    >
                  </li>
                </ul>
              </nav>
              <div class="footer-copyright">
                &copy; 2021 XenFM, All Rights Reserved
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/public/js/landing.js"></script>
  </body>
</html>
