@import url("https://fonts.googleapis.com/css?family=Fira+Sans:600|Lato:400&display=swap");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

