@import url("https://fonts.googleapis.com/css?family=Fira+Sans:600|Lato:400&display=swap");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #goBack {
        width: 100%;
    }

    .p_img {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #goBack {
        width: 100%;
    }

    .p_img {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #goBack {
        width: 100%;
    }

    .p_img {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #goBack {
        width: 100%;
    }

    .p_img {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #goBack {
        width: 100%;
    }

    .p_img {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}